<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
	
	<head th:replace="~{fragments/head.html :: head}"/>
	</head>
	
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header th:replace="~{fragments/header.html :: header}"/>
					</header>

				<!-- Menu -->
					<nav th:replace="~{fragments/navbar.html :: navbar}"/>
					</nav>

				<!-- Main -->
					<div th:replace="~{fragments/accountMain.html :: accountMain}">
					</div>

				<!-- Footer -->
					<footer th:replace="~{fragments/footer.html::footer}"/>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>