<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>
	<nav id="menu" th:fragment="navbar">
		<h2 style="margin-bottom: 19px;
				    margin-left: 6px;
				    font-size: 1.2em;">Menu</h2>
		<ul>
			<li class="account-pic" th:each="usermodel:${usermodel}">
				<a th:href="@{/TicketSwift/account}">
					Account : 
					<i th:text="${usermodel.firstName}"></i> 
					<i th:text="${usermodel.lastName}"></i>
				</a> 
				<img src="/images/mini_profile.png" alt="Your Name" class="mini-profile" style="width: 60px;">
			</li>
			
			<li><a th:href="@{/events}">Upcoming Events</a></li>
			<li><a th:href="@{/TicketSwift/login}" th:text="${status}">Login</a></li>
		</ul>
	</nav>
</body>
</html>